.jumbotron {
  text-align: center;
  align-content: center;
}
button{
  background-color: tomato;
  color: #ffffff;
}
td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid rgb(104, 3, 3);
  font-size: 100px;
  background-color: rgb(117, 120, 122);
  color: #f0f000;
}

table {
  margin: auto auto;
}
body{
  background-size: cover;
}